@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xxs: 450px;
  --breakpoint-xs: 576px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}
